
@media (min-width: 544px) {
    .card-filter-input {
        max-width: 200px;
    }
}

html {
    margin-left: 232px !important;
}

.js-project-fullscreen-link span.hide-md {
    display: none;
}

.js-show-project-triage span.hide-md {
    display: none;
}

.js-show-project-menu span.hide-md {
    display: none;
}

.x-ctrl {
    max-width: 300px;
    height: 42px;
}

.x-btn {
    height: 36px;
    margin: 4px 2px;
    min-width: 54px;
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 10px !important;
    white-space: normal !important;
    line-height: normal !important;
}

#x-sidebar {
    width: 232px;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

#x-sidebar .x-nav {
}

#x-sidebar .x-nav .x-title {

}

#x-sidebar .x-conv-list {

}
